<p><%= button_to "Go to your Page", user_path(current_user.id), {method: :get} %></p>
<p><%= button_to "Add a Dog", new_dog_path, {method: :get} %></p>
<p><%= button_to "Book a Walk", walks_path, {method: :get} %></p><br>
