<%= render partial: 'form', locals: { walk: @walk } %><br><br>
<%= render partial: 'update_dogs', locals: { walk: @walk } %><br><br><br><br>


<p><%= button_to "Go to your Page", user_path(current_user.id), {method: :get} %></p>
<p><%= button_to "Edit Your Booking", edit_walk_path(@walk), {method: :get} %></p><br>
