
<%= render partial: 'form', locals: { walk: @walk } %>
<%= render partial: 'show_dogs', locals: { walk: @walk } %><br>
<%= render partial: 'add_dogs', locals: { walk: @walk, dogs: @dogs } %>


<p><%= button_to "Go to your Page", user_path(current_user.id), {method: :get} %></p>
