show page

<%= render partial: 'form', locals: { walk: @walk } %><br><br>
<%= render partial: 'show_dogs', locals: { walk: @walk } %><br><br><br><br>


<p><%= link_to "Go to your Page", user_path(current_user.id) %></p>
<p><%= button_to "Edit Your Booking", edit_walk_path(@walk)%></p><br>
